body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

header h1 {
    font-size: 24px;
}

header img {
    margin: 0 10px;
    max-width: 40px;
    height: auto;
}

#boxes-container {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    margin-bottom: 20px;
}

.box {
    width: 200px;
    height: 200px; 
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.hex-code {
    width: 100px;
    height: 30px;
    margin-top: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(12, 12, 12);
    background-color: #f0f0f0;
    position: absolute;
    bottom: -35px;
}